# Tracker credentials
USERNAME=your_tracker_username
PASSWORD=your_tracker_password

# DigitalCore
DC_USERNAME=your_dc_username
DC_PASSWORD=your_dc_password

# qBittorrent
QBIT_URL=http://192.168.x.x:8080
QBIT_USER=admin
QBIT_PASS=your_password

# Discord webhooks
DISCORD_TORRENT_HOOK=https://discord.com/api/webhooks/YOUR_ID/YOUR_TOKEN
DISCORD_STATS_HOOK=https://discord.com/api/webhooks/YOUR_ID/YOUR_TOKEN

# Media services
RADARR_URL=http://192.168.x.x:7878
RADARR_API_KEY=your_api_key
SONARR_URL=http://192.168.x.x:8989
SONARR_API_KEY=your_api_key
JELLYFIN_URL=http://192.168.x.x:8096
JELLYFIN_API=your_api_key
BAZARR_URL=http://192.168.x.x:6767
BAZARR_API=your_api_key

# Network
LAN_SUBNET=192.168.0.0/24
LOCAL_USER=your_plex_username
